<a href="https://colab.research.google.com/github/EfeTascioglu/hackTheNorth2019/blob/master/hackTheNorth2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import xgboost as xgb
import math
import requests
import datetime as dt
from datetime import datetime

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
!wget https://github.com/efetascioglu/hackTheNorth2019/raw/master/database.csv

In [0]:
df = pd.read_csv('database.csv') # (Dataframe)

In [16]:
df.head()

         Date      Time  Latitude  ...  Location Source Magnitude Source     Status
0  01/02/1965  13:44:18    19.246  ...           ISCGEM           ISCGEM  Automatic
1  01/04/1965  11:29:49     1.863  ...           ISCGEM           ISCGEM  Automatic
2  01/05/1965  18:05:58   -20.579  ...           ISCGEM           ISCGEM  Automatic
3  01/08/1965  18:49:43   -59.076  ...           ISCGEM           ISCGEM  Automatic
4  01/09/1965  13:32:50    11.938  ...           ISCGEM           ISCGEM  Automatic

[5 rows x 21 columns]

In [21]:
df.shape

(23412, 21)

In [0]:
train, test = train_test_split(df, test_size = 0.2)

In [0]:
test.shape

In [0]:
y_train, y_test = pd.DataFrame(train.iloc[:, 8]), pd.DataFrame(test.iloc[:, 8])

In [0]:
x_train = pd.DataFrame((train.iloc[:, :8]) + (train.iloc[:, 9:]))
x_test = pd.DataFrame((test.iloc[:, :8]) + (test.iloc[:, 9:]))

In [54]:
x_train.shape

(18729, 20)

In [55]:
print(y_train.shape, y_test.shape)

(18729, 1) (4683, 1)